{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Cari') %}

  <form class="module-content search-form" method="get" action="{% url_for controller='dataset', action='search' %}">
    <h3 class="heading">Platform data terbuka Kabupten Ciamis</h3>
    <h5>Kami berusaha untuk mengatur data terbuka di Kabupaten Ciamis</h5>
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
